<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpaceChat</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/msg.css">
  <link rel="stylesheet" href="<%= cssPath %>">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" defer></script>
  <script src="/js/msg.js" defer></script>
</head>
<body>

    <%- include('../partials/msg.ejs') %>

    <%- include(page) %>

</body>
</html>