<script src="/js/home.js" defer></script>

<div class="container">

    <div class="background"><img src="/img/network4.png" alt="network"></div>

    <header>
        <div>
            <h1><a href="/">SpaceChat</a></h1>
        </div>

        <div>
            <a href="/chat" class="btn btn-primary">Try Now</a>
        </div>
    </header>

    <main>
        <div class="main-text">
            <h1>
                SpaceChat brings you the <span>connection</span>
            </h1>
            <h3>
                Get started with our chat and connect anywhere in the world anytime. Meet new people, have new experiences.
            </h3>
            <a href="/chat" class="btn btn-primary">Start Connection</a>
        </div>
        
        <div class="main-img">
            <img src="/img/earth.gif" alt="tech-earth" class="earth-gif">
        </div>
    </main>
    
</div>