<header>
    <div class="nav">
        <div>
            <h1>SpaceChat</h1>
        </div>

        <div>
            <a href="#">Try Now</a>
        </div>
    </div>

    <div class="header-content">
        <div class="header-text">
            <h1>
                SpaceChat brings you the <span>connection</span>
            </h1>
            <h3>
                And you can experience the world
            </h3>
        </div>
        
        <div class="header-img">
            <img src="/img/woman-computer.png" alt="woman-computer">
        </div>
    </div>
</header>
