aside {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #2e455c;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 1rem 2rem 2rem 2rem;
}

.brand-name {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.brand-name h1 {
    font-size: 2.5rem;
}

.brand-name a {
    color: white;
}

.menu {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.menu ul {
    display: flex;
    align-items: start;
    justify-content: space-between;
    row-gap: 1rem;
    flex-direction: column;
}

.menu ul li {
    width: 100%;
    padding: 10px;
}

.menu ul li a {
    color: rgb(230, 230, 230);
    font-size: 1.5rem;
}

.menu ul li i {
    margin-right: 5px;
}

.menu ul li button {
  background: none;
  border: none;
  color: rgb(230, 230, 230);
  font-size: 1.5rem;
  cursor: pointer;
}

.menu ul li:hover {
  filter: brightness(80%);
}

main {
    background-color: #eee;
    min-height: 100vh;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

header {
    background-color: white;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: fit-content auto;
    column-gap: 1rem;
    padding: 0 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.left .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    column-gap: .5rem;
}

.card {
    background-color: #2e455c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.left .records {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    max-height: 70vh;
}

.records-title {
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.record {
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: start;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
    height: fit-content;
}

.record-message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.record-message p:first-child {
  word-break: break-all;
}

.right {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 10px;
    min-height: 80vh;
    row-gap: 1rem;
}

.blocked-content {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    height: 50%;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.scroll {
    padding-top: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    max-height: 90%;
}

.delete-word-form {
    background-color: #2e455c;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    transition: filter .3s ease;
}

.delete-word-form button {
  background: none;
  border: none;
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.delete-word-form:hover {
  filter: brightness(85%);
}

.delete-word-form:hover > button {
  display: inherit;
}

.delete-word-form button:hover {
  color: red;
}

.scroll::-webkit-scrollbar, .records::-webkit-scrollbar {
    width: 15px;
}

  
.scroll::-webkit-scrollbar-thumb, .records::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: #AAAAAA;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}
  
.scroll::-webkit-scrollbar-thumb:hover, .records::-webkit-scrollbar-thumb:hover {
    background-color: #BBBBBB;
}

.add-blocked-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: 40%;
    border-radius: 10px;
    flex-direction: column;
}

.add-blocked-content h2 {
    width: 80%;
    text-align: center;
}

.add-blocked-content form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    align-items: center;
}

.add-blocked-content form button {
    background-color: #007bff;
    border-radius: 10px;
    width: 80%;
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
}

.add-blocked-content form input {
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    border: 1px solid #333;
}

.add-blocked-content form input::placeholder {
    font-size: 1rem;
}
