header {
  background-image: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header .header-content {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}


.header-img img {
    width: 500px;
}

.header-text h1 {
    font-size: 4rem;
    max-width: 600px;
}

.header-text h1 span {
    background-image: linear-gradient(60deg,black, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text h3 {
    font-size: 1.5rem;
}